<% include ./partials/header.ejs %>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Daniel's Blog</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
    <div class="jumbotron">
      <h1>Daniel's Blog</h1> 
      <p>Here you can find some post related to web development. This website is still in development process but still i hope that you could find some usefull informations. Sorry for some UI bugs</p> 
    </div>
  <br>
      <% if(allposts){ %>
        <% allposts.forEach((post)=>{ %>
          <div class="container">
            <div class="card">
              <div class="card-header"><%= post.title %></div>
              <div class="card-body"><%= post.description %></div>
              <br>
              <form action="/readmore/<%= post._id %>" method="POST">
                <button class="btn btn-sm" type="submit">Read More</button>
              </form>
      </div>
    </div>
        <% }) %> 
      <% }else{ %>
        <p>Make a new post</p>
      <% } %>
   

<% include ./partials/footer.ejs %>
